<a href="https://colab.research.google.com/github/tyuting/Introduction-to-Computers/blob/main/%E6%9C%9F%E6%9C%AB%E8%80%83%E7%B5%B1%E6%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

第1題:請用print印出你的班級、姓名以及學號 輸出如下：

In [ ]:
print("班級:統計1A","學號:410650435","姓名:蔡宇庭",sep="\n")

班級:統計1A
學號:410650435
姓名:蔡宇庭

第2題: 請增加三個變數，分別爲 month, day, week，並讓其能夠輸入月份、日期、星期，最後輸入完之後將其印出！

In [ ]:
month = int(input("請輸入月份:"))
day = int(input("請輸入日期:"))
week = (input("請輸入今天是星期幾:"))
print("今天是:",month,"月",",",day,"號",",","星期",week)

請輸入月份:1
請輸入日期:1
請輸入今天是星期幾:一
今天是: 1 月 , 1 號 , 星期 一

第3題: 請設計一個計算梯形面積的程式，面積計算至小數點後兩位，輸入輸出需與下圖一致。

In [ ]:
上底 = int(input("請輸入梯形上底長度:"))
下底 = int(input("請輸入梯形下底長度:"))
高 = int(input("請輸入梯形高:"))
面積 = (上底+下底)*高/2
print("梯形上底長度為: %d公分,梯形下底長度為: %d公分,梯形高度為: %d公分,梯形面積為: %0.2f平方公分" %(上底,下底,高,面積))

請輸入梯形上底長度:4
請輸入梯形下底長度:5
請輸入梯形高:4
梯形上底長度為: 4公分,梯形下底長度為: 5公分,梯形高度為: 4公分,梯形面積為: 18.00平方公分

第4題:請設計一個計算BMI的的程式，輸入輸出結果需如下圖。

In [ ]:
cm = float(input("請輸入您的身高(cm):"))
kg = float(input("請輸入您的體重(kg):"))
BMI = kg/(cm/100)**2
print("身高 %d 公分, 體重 %d 公斤, BMI值為 %0.3f" %(cm,kg,BMI))

請輸入您的身高(cm):180
請輸入您的體重(kg):60
身高 180 公分, 體重 60 公斤, BMI值為 18.519

第5題: 請設計一個判斷 “偶數”/“奇數”的程式，輸入輸出結果需如下圖

In [ ]:
n = int(input("請輸入正整數:"))
if((n%2)==0):
    print(n,"為偶數!")
else:
    print(n,"為奇數!")

n = int(input("請輸入正整數:"))
if((n%2)==0):
    print(n,"為偶數!")
else:
    print(n,"為奇數!")

請輸入正整數:50
50 為偶數!
請輸入正整數:51
51 為奇數!

第6題: 請設計一個判斷體溫的程式，當體溫高於37.5或小於36，顯示 “體溫異常，請重新量測!”，體溫介於36~37.5間顯示"體溫正常，請進校園!"

In [ ]:
c = float(input("請輸入你的體溫"))
if((c<=37.5)and(c>=36)):
    print("體溫正常,請進校園!")
elif((c>37.5)or(c<36)):
    print("體溫異常,請重新測量!")

c = float(input("請輸入你的體溫"))
if((c<=37.5)and(c>=36)):
    print("體溫正常,請進校園!")
elif((c>37.5)or(c<36)):
    print("體溫異常,請重新測量!")

請輸入你的體溫34
體溫異常,請重新測量!
請輸入你的體溫37.4
體溫正常,請進校園!

本金

In [ ]:
deposit = int(input("請輸入本金存款金額"))
years = 1.02**6
deposit *= years
print("六年後存款為:",deposit)

請輸入本金存款金額10000
六年後存款為: 11261.62419264

購物金

In [ ]:
money = int(input("請輸入購物金額:"))
if(money>=10000):
  if(money>=100000):
    print("八折",money * 0.8,end="元\n") 
  elif((money>=50000)and(money<100000)):
    print("八五折",money * 0.85,end="元\n")
  elif((money>=30000)and(money<50000)):
    print("九折",money * 0.9,end="元\n")
  else:
    print("九五折",money * 0.95,end="元\n")
else:
  print("沒打折",money,end="元\n")

請輸入購物金額:100
沒打折 100元

成績

In [ ]:
a = int(input("請輸入成績:"))
if(a>=90):
  print("A")
elif((a<=89)and(a>=80)):
  print("B")
elif((a<=79)and(a>=70)):
  print("C")
elif((a<=69)and(a>=60)):
  print("D")
else:
  print("E")

請輸入成績:80
B

收入淨額

In [ ]:
c = int(input("請輸入今年收入淨額:"))
if(c>=300000):
  if(c>=2000000):
    print("付稅金額:",c * 0.3,end="元\n")
  elif((c<2000000)and(c>=1000000)):
    print("付稅金額:",c * 0.21,end="元\n")
  elif((c<1000000)and(c>=600000)):
    print("付稅金額:",c * 0.13,end="元\n")
  else:
    print("付稅金額:",c * 0.06,end="元\n")
else:
  print("付稅金額:",c * 0,end="元\n")

請輸入今年收入淨額:10000
付稅金額: 0元

In [ ]:
month = int(input("請輸入月份:"))
if((month<=12)and(month>=1)):
  if((month>=3)and(month<=5)):
    print(month,"是春天!")
  elif((month>=6)and(month<=8)):
    print(month,"是夏天!")
  elif((month>=9)and(month<=11)):
    print(month,"是秋天!")
  else:
    print(month,"是冬天!")
else:
  print("月份不在範圍內!")

請輸入月份:12
12 是冬天!

1到n的整數和

In [ ]:
sum = 0
test = int(input("請輸入一個正整數;"))
for n in range(1,test+1):
    sum = sum+n
    print("1到"+str(n)+"的整數和為:",sum)

請輸入一個正整數;10
1到1的整數和為: 1
1到2的整數和為: 3
1到3的整數和為: 6
1到4的整數和為: 10
1到5的整數和為: 15
1到6的整數和為: 21
1到7的整數和為: 28
1到8的整數和為: 36
1到9的整數和為: 45
1到10的整數和為: 55

In [ ]:
a = int(input("請輸入一個正整數:"))
sum = 0
for n in range(a+1):
  sum =sum+n
print("1到",a,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

迴圈

In [ ]:
count = 0
for string in "測試看看!":
    count+=1
    if string == "看":
        break
    print(string)
print("迴圈結束")
print("回圈執行了 %d 次" %count)

測
試
迴圈結束
回圈執行了 3 次

99乘法表

In [ ]:
for j in range(1,10):
    for i in range(1,10):
        k = i*j
        if(k<10):
            print(j,"*",i,"=",k,end= "   ")
        else:
            print(j,"*",i,"=",k,end= "  ")
    print("")

1 * 1 = 1   1 * 2 = 2   1 * 3 = 3   1 * 4 = 4   1 * 5 = 5   1 * 6 = 6   1 * 7 = 7   1 * 8 = 8   1 * 9 = 9
2 * 1 = 2   2 * 2 = 4   2 * 3 = 6   2 * 4 = 8   2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18
3 * 1 = 3   3 * 2 = 6   3 * 3 = 9   3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27
4 * 1 = 4   4 * 2 = 8   4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36
5 * 1 = 5   5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45
6 * 1 = 6   6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54
7 * 1 = 7   7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63
8 * 1 = 8   8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72
9 * 1 = 9   9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        product = i * j
        print("%d*%d=%2d" %(i, j, product), end=" ")
    print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

最小公倍數

In [ ]:
a = int(input("請輸入a的值:"))
b = int(input("請輸入b的值:"))
max = a*b
for i in range(1,max+1):
    if((i%a==0)and(i%b==0)):
        break
print(a,"和",b,"的最小公倍數=%d" %i)

請輸入a的值:4
請輸入b的值:6
4 和 6 的最小公倍數=12

In [ ]:
a = int(input("請輸入a的值:"))
b = int(input("請輸入b的值:"))
maxno = a * b
for i in range(1,maxno+1):
    if(i%a==0 and i%b==0):
        break
print("%d和 %d的最小公倍數 = %d" %(a,b,i))

請輸入a的值:4
請輸入b的值:6
4和 6的最小公倍數 = 12

除了5的倍數以外的整數

In [ ]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
    if(i%5==0):
        continue
    print(i,end = " ")

請輸入正整數:12
1 2 3 4 6 7 8 9 11 12

偶數和奇數和

In [ ]:
n = int(input("請輸入正整數n的值:"))
a = i = 0
while(i<=n):
    a += i
    i += 2
print("0~%d的偶數和結果是%d" %(n,a))

請輸入正整數n的值:50
0~50的偶數和結果是650

In [ ]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i+=1    
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [ ]:
n = int(input("請輸入正整數n的值:"))
a = 0
i = 1
while(i<=n):
    a += i
    i += 2
print("0~%d的奇數和結果是%d" %(n,a))

請輸入正整數n的值:50
0~50的奇數和結果是625

In [ ]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i+=1    
print("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

*

In [ ]:
n = int(input("請輸入正整數:"))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*", end=" ")
    print()

請輸入正整數:7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input("請輸入正整數："))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*", end="")
    print()

請輸入正整數：7
*******
******
*****
****
***
**
*

3和7的倍數

In [ ]:
n = 0
for i in range(1,100+1):
    if i%3 == 0 or i%7 ==0:
        n+=i
print("數值1~100中,所有是 3 或 7 倍數的數之總和 = ",n)

數值1~100中,所有是 3 或 7 倍數的數之總和 =  2208

質數

In [ ]:
n = int(input("請輸入正整數:"))
j = 0
print(n,"的因數有",end = " ")
for i in range(1,n+1):
    if(n%i == 0):
        j+=1
        print(i,end = " ")
if(j==2):
    print()
    print(n,"是質數")
else:
    print()
    print(n,"不是質數")

請輸入正整數:12
12 的因數有 1 2 3 4 6 12
12 不是質數

In [ ]:
p=1
counter=0
n = int(input("請輸入正整數："))
print(n,"的因數有",end=" ")
while (p<=n):
    if (n%p==0):
        print(p,end=" ")
        counter+=1
    p+=1

print()    
if (counter==2):    
    print(n,"是質數")
else:
    print(n,"不是質數")

請輸入正整數：12
12 的因數有 1 2 3 4 6 12
12 不是質數

[]

In [ ]:
subjects = ["國文","數學","英文"]
scores = [85,79,93]
for i in range(len(scores)):
    print("%s成績:%d分" %(subjects[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [ ]:
name = ["Tom","Mary","Tony"]
num = [1,2,3]
for i in range(len(name)):
    print("編號:%d 姓名:%s" %(num[i],name[i]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony

In [ ]:
print("hi")

hi

In [ ]:
print("hi")

hi